langchain_community
ipykernel
unstructured[local-inference]
ipywidgets
pymupdf
sentence_transformers
chromadb
langchain_huggingface
python-dotenv
langchain-groq
ragas
langchain
pdfplumber
pypdf
mistralai
langchain-google-genai